OPENAI_API_KEY=
OPENAI_BASE_URL=

ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
TAVILY_API_KEY=

LANGSMITH_API_KEY=
LANGSMITH_PROJECT=demo
LANGSMITH_TRACING=false

SUPABASE_KEY=
SUPABASE_URL=
GET_API_KEYS_FROM_CONFIG=false